/*SO MANY POSSIBILITIES FOR HOVER EFFECTS!!!!!!!!!!!!!!!!!!!!!*/
.fifth {
  padding: 50px 0px 50px 0px;
  -webkit-font-smoothing: antialiased;
  background: white;
  text-align: center;
  margin: auto;
}

.fly {
  -webkit-transform: translateX(-200px);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}

.flyIn {
  -webkit-transform: translateX(0px);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}

.col-md-4:hover {
  background: #f7f7f7;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -o-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  position: relative;
  z-index: 5000;
}

.post:hover {
  text-decoration: none;
}

.fa {
  margin-right: 5px;
}

.col-md-4 {
  height: auto;
  overflow: hidden;
  background: #2a3138;
  border: 1px solid #1e2328;
  position: relative;
  z-index: 0;
}
.col-md-4 .inner {
  padding: 20px;
}
.col-md-4 .inner .category {
  color: #f26743;
  font: 900 13px Lato;
  text-transform: uppercase;
}
.col-md-4 .inner .date {
  font: 900 13px Lato;
  color: #9b9eab;
  margin-left: 5px;
}
.col-md-4 .inner .h2 {
  font: 900 24px Lato;
  text-transform: uppercase;
  margin-bottom: 18px;
  color: #fff;
}
.col-md-4 .inner .p {
  font: 400 14px Lato;
  line-height: 22px;
  color: #9b9eab;
}
.col-md-4 .inner .read-more {
  color: #f26743;
  display: block;
  font: 900 13px Lato;
  position: relative;
  text-transform: uppercase;
}
.col-md-4 .inner .read-more:hover {
  text-decoration: none;
}

a:active,
a:focus {
  color: #f26743;
  text-decoration: none;
}
