body {
  font: 0.8rem Arial;
}

.selection {
  display: flex;
  min-height: 65px;
  height: 70px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selection div {
  display: flex;
}

.selection select {
  height: 1.6rem;
  border: 1px solid #ccc;
  background-color: #ffffff;
  font-size: 1rem;
}

.selection label {
  line-height: 1.6rem;
  font-weight: bold;
  margin: 0 10px 0;
}

.loaded .selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: visible;
}

.chart,
.loading {
  width: 1200px;
  height: 628px;
  max-width: 100%;
}

.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.loaded .loading {
  display: none;
}

path.country1 {
  stroke: #fa5575;
  stroke-width: 2;
  fill: none;
}

.legend.country1 {
  fill: #fa5575;
}

path.country2 {
  stroke: #7fd922;
  stroke-width: 2;
  fill: none;
}

.legend.country2 {
  fill: #7fd922;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

@media screen and (max-width: 650px) {
  .chart,
  .loading {
    height: auto;
    min-height: 100px;
  }

  .selection div {
    flex-direction: column;
  }

  .selection label {
    margin: 10px 0;
  }
}

body {
  font-family: Verdana, monospace, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: justify;
  background-color: white;
  text-align: center;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fc3c3c;
}

.third {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 50px;
}

.selection {
  text-align: center;
}